@model IEnumerable<taskManagementCrud.Models.Department>
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
<p>
	<a asp-action="Create" class="btn btn-primary">Yeni Departman Ekle</a>

</p>

<div class="mb-3">
	<a asp-controller="Department" asp-action="ExportToPdf" class="btn btn-danger">
		<i class="fa fa-file-pdf"></i> PDF Olarak İndir
	</a>
	<!-- YENİ: Excel Butonumuz -->
	<a asp-controller="Department" asp-action="ExportToExcel" class="btn btn-success">
		<i class="fa fa-file-excel"></i> Excel Olarak İndir
	</a>
</div>
<table class="table">

	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.DepartmentName)</th>
			<th>@Html.DisplayNameFor(model => model.DepartmentpersonelCount)</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.DepartmentName)</td>
				<td>@Html.DisplayFor(modelItem => item.DepartmentpersonelCount)</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.DepartmentId" class="btn btn-success">Edit</a>
					<a asp-action="Delete" asp-route-id="@item.DepartmentId" class="btn btn-danger">Delete</a>
				</td>

			</tr>


		}
	</tbody>



